# .envrc

# Suppress direnv internal messages
DIRENV_LOG_FORMAT=""

plist_files=(*.plist)

if (( ${#plist_files[@]} != 0 )); then 
  echo
  echo "Logs are in: "
  #exit 1
elif (( ${#plist_files[@]} > 2 )); then
  echo "Too many .plist files (found ${#plist_files[@]}), max allowed is 2."
  exit 1
fi

for plist in "${plist_files[@]}"; do

  stdout=$(/usr/libexec/PlistBuddy -c "Print :StandardOutPath" "$plist" 2>/dev/null)
  stderr=$(/usr/libexec/PlistBuddy -c "Print :StandardErrorPath" "$plist" 2>/dev/null)

  [[ -n "$stdout" ]] && echo "$stdout"
  [[ -n "$stderr" ]] && echo "$stderr"
done